$color-white-100: #fff;
$color-beige-300: #CFADAC;
$color-beige-500: #9D8888;
$color-beige-600: #967675;

$color-black-100: #000;
$color-black-300: #111;

$color-gray-100: #f6f6f7;
$color-gray-500: #A0A0A0;

$font-primary: 'Playfair Display', serif;
$font-secondary: 'Poppins', sans-serif;
